{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="row">
	<div class="col-sm-8">
	<h1>Dashboard</h1>
	</div>

	<div class="col-sm-4">
		<h3>Matches</h3>
		{% for matched_user,percent in matches %}
		<div class='col-sm-4'>
			<a href='{{matched_user.profile.get_absolute_url}}'>
			{{matched_user}} 
			<br/>
			{% if matched_user.profile.picture %}
				<img src='{{matched_user.profile.picture.url}}' class='img-responsive' />
			{% else %}
				<img src='{% static "img/default_pic.jpg"  %}' class='img-responsive' />
			{% endif %}
			</a>
			{{ percent}}
		</div>
		{% endfor %}
	</div>
</div>


{% endblock %}